@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fafafa;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  margin-bottom: 20px;
  color: #3f51b5;
}

.mat-mdc-table {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-snack-bar-container {
  margin-top: 70px !important;
}
